<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/5.0/examples/heroes/heroes.css" rel="stylesheet">
    
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Profile</title>
  </head>
  <body>
    <main id="app">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
              <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
              <span class="fs-4">Profile</span>
            </a>
      
            <ul class="nav nav-pills">
              <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Skill</a></li>
              <li class="nav-item"><a href="#" class="nav-link">History</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Portfolio</a></li>
              <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
            </ul>
          </header>
          <div class="b-example-divider"></div>
            <div class="container col-xxl-8 px-4 py-5">
                <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6" v-for="user in myuser">
                    <img v-bind:src="user.imguser_url" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6" v-for="user in myuser" >
                    <p><h1 class="display-5 fw-bold lh-1 mb-3">PROFILE</h1></p>
                     <div  ><h1 class="display-5 fw-bold lh-1 mb-3"> {{myUppercase(user.fname) }} {{myUppercase(user.lname)}}</h1></div>
                     <div  ><h5 class="display-5 fw-bold lh-1 mb-3"> {{user.position}}</h5></div>
                    <!-- <div v-for="user in myuser" ><h1 class="display-5 fw-bold lh-1 mb-3"> Age : {{getAge(user.bdate) }}  </h1></div>  <p> Birth : {{thaiDateAge(user.bdate) Age : {{getAge(user.bdate) }}</p>  -->
                    <!-- <div v-for="hob in hobbies" ><h1 class="display-5 fw-bold lh-1 mb-3"> {{hob.fav}} </h1></div>                    -->
                    <!-- <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p> -->
                    <p class="lead" v-for="user in myuser" >{{user.content}}</p>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">DownLoad CV</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
                    </div>
                </div>
                </div>
            </div>
          
    <div class="b-example-divider"></div>
    <div>
        <h1>Axios Vuejs</h1>
        {{ myuser }}
        <hr>-------<hr>
        {{contacts}}
        <hr>-------<hr>
        {{ skill }}  
        <hr>-------<hr>
        {{ hobbies}}  

  
    </div>

    <div class="b-example-divider"></div>   

    </main>

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">© 2022 Karndiy, all rights reserved. Made with my Heart for a better web</span>
      </div>
    </footer>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <script>
        const { createApp } = Vue
      
        createApp({
          data() {
            return {
              message: 'Hello Vue!',           
              myuser: null,
              hobbies:null,
              skill:null,
              contacts:null,
              portfolio:null
            
            }
          }, 

          methods:{

            myUppercase: function (data) {	
            return  data.toUpperCase();
            },

            getAge: function getAge(dateString) { 
              var today = new Date();
              var birthDate = new Date(dateString);
              var age = today.getFullYear() - birthDate.getFullYear();
              var m = today.getMonth() - birthDate.getMonth();
              if (m < 0 || (m === 0 && today.getDate() < birthDate.getDate())) {
                  age--;
              }
              console.log(age);
              return age;
            },

            thaiDateAge: function (dateString) { 
              let text = dateString;
              var mySpilt = text.split("/");
              var  myArray = mySpilt[2] + "/" + mySpilt[1] + "/" + mySpilt[0];
              return myArray;
            }

          },
                   
          mounted () {
            axios
            //.get('https://api.coindesk.com/v1/bpi/currentprice.json')
            .get('http://localhost:3000/myuser')
            .then(response => (
              this.myuser = response.data.user,
              this.hobbies = response.data.hobbies,
              this.skill = response.data.skill,
              this.contacts = response.data.contacts,
              this.portfolio= response.data.portfolio
            ));
          }
        }).mount('#app')
      </script>
  </body>
</html>